@model WeTalk.Models.ConversationModels.ConversationDetail

@{
    ViewBag.Title = "Details";
}


<h2>@($"Conversation between {Model.Username2} & {Model.Username1}:")</h2>


<table class="table table-dark table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username1)
        </th>
        <th>
          <p>Message</p>
        </th>
        <th>
            <p>Message Sent</p>
        </th>
        <th>
            <p>Message Updated</p>
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.UserMessages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedTimeStamp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Message", new { id=item.MessageId }, null) |
                @Html.ActionLink("Delete", "Delete", "Message", new { id=item.MessageId }, null)
            </td>
        </tr>
    }
</table>

<div class="form-group">
    <div>
        <button class="btn btn-primary" claonclick="location.href = '@Url.Action("Create","Message")'; return false;">Send A Message</button>
    </div>
</div>

<p>
    @Html.ActionLink("Back to all conversations", "Index")

</p>
