@model IEnumerable<WeTalk.Models.ConversationModels.ConversationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Conversations</h2>

<p>
    @Html.ActionLink("Add A New Friend", "Create","FriendRequest")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.UserName2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName2)
        </td>
        <td>
            |
            @Html.ActionLink("View Conversation", "Details", new { id = item.ConversationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConversationId })
        </td>
    </tr>
}

</table>
