@model IEnumerable<WeTalk.Models.FriendModels.FriendListItem>
@{
    ViewBag.Title = "Index";
}

<h2>My Friends</h2>

<p>
    @Html.ActionLink("Send A Friend Request","Create", "Message")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName2)
        </th>
        <th>@Html.DisplayNameFor(model => model.FriendsSince)</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName2)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.FriendsSince)</td>
                    <td>
                        @Html.ActionLink("Delete","Delete", new {id=item.FriendId })
                    </td>
                </tr>
}
</table>